#Cabeçario {
    background-color: rgb(0, 0, 0);
    color: rgb(242, 255, 0);
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    .destaque {
        color: red;
        font-weight: bold;
        font-size: 18px;
    }
}

.destaque {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    padding:100px; 
    font-size: 27px;

}
#search {

    align-items: center;
    display: flex;
    max-width: 500px;
    
}
img{
    width:10%;
    height: auto;
    margin-right: 100px;
    position:relative;
   
    
    
}